/.clangd
/compile_commands.json
*.cmake
CMakeCache.txt
CMakeFiles
Makefile
*.ninja
\.ninja_*
Testing
build
.vscode
*.vcxproj
*.vcxproj.filters
drjit-thread.sln
drjit-thread.dir
Release
Debug

libdrjit-thread.so
libdrjit-thread.dylib
drjit-thread.dll
tests/test_0[1-4]
