/.clangd
/compile_commands.json
*.cmake
CMakeCache.txt
CMakeFiles
Makefile
*.ninja
\.ninja_*
tests/**/*.out
tests/**/*.raw
Testing
/kernels/kernels_*.ptx
/kernels/generate
build
.vscode
*.vcxproj
*.vcxproj.filters
drjit-core.sln
drjit-core.dir
Release
Debug

libdrjit-core.so
libdrjit-core.dylib
drjit-core.dll
libnanothread.so
libnanothread.dylib
nanothread.dll
tests/out_*
tests/test_basics
tests/test_reductions
tests/test_vcall
tests/test_graphviz
tests/test_loop
tests/test_mem
tests/triangle
