/CMakeFiles
/*.cmake
/CMakeCache.txt
/Makefile
/jconfig.h
/cjpeg
/djpeg
/rdjpgcom
/wrjpgcom
/libjpeg.dylib
/libjpeg.a
/jpegtran
*.vcxproj
*.filters
libjpeg.sln
libjpeg.opensdf
libjpeg.sdf
/.vs
*.dir
/x64
/Release